---
title: SMT Interest Group Meetings
layout: default
---

<h1>SMT Interest Group Meetings</h1>


<h2>Autographs and Archival Documents</h2>
<p class="ig-time">Sunday, November 8, 12-12:50 CST </p>
{% include session-short.html session="autographs-ig" %}

<h2>Dance and Movement</h2>
<p class="ig-time">Saturday, November 7, 2–2:50 CST</p>
{% include session-short.html session="analysis-of-music-for-dancing" %}

<h2>Early Music Analysis</h2>
<p class="ig-time">Saturday, November 7, 11:00–11:50 CST</p>
{% include session-short.html session="early-music-ig" %}

<h2>Film and Multimedia</h2>
<p class="ig-time">Sunday, November 15, 2:00–3:30 CST</p>
{% include session-short.html session="the-sound-object-and-music-media" %}

<h2>Global Interculturalism and Musical Peripheries and Analysis of World Music</h2>
<p class="ig-time">Sunday, November 8, 10:00–10:50 CST</p>
{% include session-short.html session="analysis-of-world-music-ig" %}

<h2>History of Theory</h2>
<p class="ig-time">Sunday, November 8, 1-1:50 CST</p>
{% include session-short.html session="history-of-theory-ig" %}

<h2>Improvisation</h2>
<p class="ig-time">Saturday, November 7, 2–2:50 CST</p>
{% include session-short.html session="improvisation-ig" %}

<h2>Jazz Theory and Analysis</h2>
<p class="ig-time">Sunday, November 8, 12-12:50 CST</p>
{% include session-short.html session="jazz-ig" %}

<h2>Mathematics of Analysis</h2>
<p class="ig-time">Sunday, November 15, 10–10:50 CST</p>
{% include session-short.html session="mathematics-of-music-ig" %}

<h2>Music and Disability</h2>
<p class="ig-time">Saturday, November 14, 11:00–11:50</p>
{% include session-short.html session="music-and-disability-ig" %}

<h2>Music and Philosophy</h2>
<p class="ig-time">Sunday, November 8, 2-2:50 CST</p>
{% include session-short.html session="music-and-philosophy-ig" %}

<h2>Music and Psychoanalysis</h2>
<p class="ig-time">Saturday, November 14, 12–12:50 CST</p>
{% include session-short.html session="music-and-psychoanalysis-ig" %}

<h2>Music Cognition</h2>
<p class="ig-time">Saturday, November 7, 12:00-12:50 CST</p>
{% include session-short.html session="music-cognition-ig" %}

<h2>Music Informatics</h2>
<p class="ig-time">time: 'Sunday, November 15, 1–1:50 CST'</p>
{% include session-short.html session="music-informatics-ig" %}

<h2>Music Theory Pedagogy</h2>
<p class="ig-time">Saturday, November 7, 1–1:50 CST</p>
{% include session-short.html session="music-pedagogy-ig" %}

<h2>Popular Music</h2>
<p class="ig-time">Saturday, November 14, 11–11:50 CST</p>
{% include session-short.html session="popular-music-ig" %}

<h2>Post-1945 Music Analysis</h2>
<p class="ig-time">Saturday, November 7, 11–11:50 CST</p>
{% include session-short.html session="post-1945-ig" %}

<h2>Queer Resource Group</h2>
<p class="ig-time">Saturday, November 14, 10–10:50 CST</p>
{% include session-short.html session="queer-resource-group" %}

<h2>Russian Music Theory</h2>
<p class="ig-time">Saturday, November 7, 1–1:50 CST</p>
{% include session-short.html session="russian-music-theory-ig" %}

<h2>Scholars for Social Responsibility</h2>
<p class="ig-time">Saturday, Nov. 14, 6:00–7:30 CST</p>
{% include session-short.html session="modulations-and-intersections-disability-and-the-uncritical-role-of-music" %}

<h2>Work and Family</h2>
<p class="ig-time">Saturday, November 7, 10–10:50 CST</p>
{% include session-short.html session="work-family-ig" %}

