---
title: SMT Interest Group Meetings
layout: default
---

<h1>SMT Interest Group Meetings</h1>


<!--<p class="ig-time">Sunday, November 8, 12-12:50 CST </p>-->
{% include session-short.html session="autographs-ig" %}

<!--<p class="ig-time">Saturday, November 7, 2–2:50 CST</p>-->
{% include session-short.html session="analysis-of-music-for-dancing" %}

<!--<p class="ig-time">Saturday, November 7, 11:00–11:50 CST</p>-->
{% include session-short.html session="early-music-ig" %}

<!--<p class="ig-time">Sunday, November 15, 2:00–3:30 CST</p>-->
{% include session-short.html session="the-sound-object-and-music-media" %}

<!--<p class="ig-time">Sunday, November 8, 10:00–10:50 CST</p>-->
{% include session-short.html session="analysis-of-world-music-ig" %}

<!--<p class="ig-time">Sunday, November 8, 1-1:50 CST</p>-->
{% include session-short.html session="history-of-theory-ig" %}

<!--<p class="ig-time">Saturday, November 7, 2–2:50 CST</p>-->
{% include session-short.html session="improvisation-ig" %}

<!--<p class="ig-time">Sunday, November 8, 12-12:50 CST</p>-->
{% include session-short.html session="jazz-ig" %}

<!--<p class="ig-time">Sunday, November 15, 10–10:50 CST</p>-->
{% include session-short.html session="mathematics-of-music-ig" %}

<!--<p class="ig-time">Saturday, November 14, 11:00–11:50</p>-->
{% include session-short.html session="music-and-disability-ig" %}

<!--<p class="ig-time">Sunday, November 8, 2-2:50 CST</p>-->
{% include session-short.html session="music-and-philosophy-ig" %}

<!--<p class="ig-time">Saturday, November 14, 12–12:50 CST</p>-->
{% include session-short.html session="music-and-psychoanalysis-ig" %}

<!--<p class="ig-time">Saturday, November 7, 12:00-12:50 CST</p>-->
{% include session-short.html session="music-cognition-ig" %}

<!--<p class="ig-time">time: 'Sunday, November 15, 1–1:50 CST'</p>-->
{% include session-short.html session="music-informatics-ig" %}

<!--<p class="ig-time">Saturday, November 7, 1–1:50 CST</p>-->
{% include session-short.html session="music-pedagogy-ig" %}

<!--<p class="ig-time">Saturday, November 14, 11–11:50 CST</p>-->
{% include session-short.html session="popular-music-ig" %}

<!--<p class="ig-time">Saturday, November 7, 11–11:50 CST</p>-->
{% include session-short.html session="post-1945-ig" %}

<!--<p class="ig-time">Saturday, November 14, 10–10:50 CST</p>-->
{% include session-short.html session="queer-resource-group" %}

<!--<p class="ig-time">Saturday, November 7, 1–1:50 CST</p>-->
{% include session-short.html session="russian-music-theory-ig" %}

<!--<p class="ig-time">Saturday, Nov. 14, 6:00–7:30 CST</p>-->
{% include session-short.html session="modulations-and-intersections-disability-and-the-uncritical-role-of-music" %}

<!--<p class="ig-time">Saturday, November 7, 10–10:50 CST</p>-->
{% include session-short.html session="work-family-ig" %}

