---
title: Receptions
layout: default
---
<h1>Reception list </h1>


<h2>Thursday, November 4, 7:00 PM ET</h2>
{% include session-short.html session="indiana-theory-review-recep" %}
{% include session-short.html session="university-of-connecticut-recep" %}


<h2>Friday, November 5, 6-7:30 PM ET</h2></p>
{% include session-short.html session="eastman-school-of-music-recep" %}

<h2>Friday, November 5, 8:00 PM ET</h2></p>
{% include session-short.html session="florida-state-university-recep" %}
{% include session-short.html session="michigan-state-university-recep" %}
{% include session-short.html session="university-of-cincinnati-college-conservatory-recep" %}
{% include session-short.html session="university-of-massachusetts-amherst-recep" %}
{% include session-short.html session="university-of-oregon-recep" %}

<h2>Saturday, November 6, 6-7:30 PM ET </h2></p>
{% include session-short.html session="the-university-of-texas-recep" %}
{% include session-short.html session="popular-music-recep" %}


<h2>Saturday, November 6, 8:00 PM ET </h2></p>
{% include session-short.html session="city-university-of-new-recep" %}
{% include session-short.html session="indiana-university-recep" %}
{% include session-short.html session="mcgill-university-recep" %}


<!--
{% include session-ig.html session="post-1945-music-analysis-ig" %}
<p> </p>
<p> </p>

<p class="ig-time"><h2>Thursday, November 4, 7:00 PM ET</h2></p>
{% include session-ig.html session="analysis-of-world-music-ig" %}
{% include session-ig.html session="dance-and-movement-ig" %}
{% include session-ig.html session="early-music-analysis-ig" %}
{% include session-ig.html session="performance-and-analysis-ig" %}
<p> </p>
<p> </p>

<p class="ig-time"><h2>Friday, November 5, 9:30-10:45 AM ET</h2></p>
{% include session-ig.html session="global-interculturalism-and-musical-ig" %}
{% include session-ig.html session="music-notation-and-visualization-ig" %}
{% include session-ig.html session="popular-music-ig" %}
{% include session-ig.html session="scholars-for-social-responsibility-ig" %}
<p> </p>
<p> </p>

<p class="ig-time"><h2>Friday, November 5, 6-7:30 PM ET</h2></p>
{% include session-ig.html session="history-of-music-theory-ig" %}
{% include session-ig.html session="jazz-ig" %}
{% include session-ig.html session="musical-theater-ig" %}
{% include session-ig.html session="russian-music-theory-ig" %}
<p> </p>
<p> </p>

<p class="ig-time"><h2>Saturday, November 6, 9:30-10:45 AM ET </h2></p>
{% include session-ig.html session="improvisation-ig" %}
{% include session-ig.html session="music-and-philosophy-ig" %}
{% include session-ig.html session="music-cognition-music-ig" %}
{% include session-ig.html session="work-and-family-ig" %}
<p> </p>
<p> </p>

<p class="ig-time"><h2>Saturday, November 6, 6-7:30 PM ET </h2></p>
{% include session-ig.html session="autographs-and-archival-documents-ig" %}
{% include session-ig.html session="film-and-multimedia-ig" %}
{% include session-ig.html session="music-and-disability-ig" %}
<p> </p>
<p> </p>

<p class="ig-time"><h2>Sunday, November 7, 9:30–10:45 AM </h2></p>
{% include session-ig.html session="mathematics-of-music-ig" %}
{% include session-ig.html session="queer-resource-ig" %}
 -->
