---
title: Resources for Presenters, Chairs, and Session Monitors
layout: default
---

<h2>Resources for Presenters, Chairs, and Session Monitors</h2>
<br>
The information below includes general guidance for presenters, sessions chairs, session monitors, and interest groups. Conference attendees may also be interested in reading this information, as it outlines the format of our various session types. 
<br><br>
<!--{% include presenter-guidance.html %}-->

{% include paper-session-guidance.html %}

{% include poster-session-guidance.html %}

<!--{% include interest-group-guidance.html %}-->