<div class="simpleBanner">
    <div class="bannerListWpr">
    <ul class="bannerList">
      <li><a href="https://www.artusimusic.com/?utm_source=smt&utm_medium=banner&utm_campaign=artusi-marketing-smt-2021_10_15"><img src="../../img/2021_banner_ads/Artusi.gif" /><a></li>
      <li><a href="http://cpebach.org"><img src="../../img/2021_banner_ads/CPE Bach.jpg" /></a></li>
      <li><a href="https://dukeupress.edu/journal-of-music-theory?utm_source=SMT&utm_medium=banner&utm_campaign=j-SMT_Nov2021"><img src="../../img/2021_banner_ads/Duke.jpg" /></a></li>
      <li><a href="http://www.esm.rochester.edu/"><img src="../../img/2021_banner_ads/Eastman.jpg" /></a></li>
      <li><a href="https://iupress.org/pages/ams-smt/"><img src="../../img/2021_banner_ads/IUP.jpg" /></a></li>
      <li><a href="https://theory.music.msu.edu"><img src="../../img/2021_banner_ads/Michigan.jpg" /></a></li>
      <li><a href="https://www.music.northwestern.edu/academics/areas-of-study/music-theory-cognition"><img src="../../img/2021_banner_ads/Northwestern.jpeg" /></a></li>
      <li><a href="http://www.pikappalambda.org"><img src="../../img/2021_banner_ads/PKL.jpeg" /></a></li>
      <li><a href="https://arts.psu.edu/degrees/master-of-arts-in-music/"><img src="../../img/2021_banner_ads/PSU.jpg" /></a></li>
      <li><a href="https://www.risingsoftware.com/cloud?utm_source=SMT&utm_medium=Banner&utm_campaign=SMT+Banner#cloud-form"><img src="../../img/2021_banner_ads/Rising Software.gif" /></a></li>
      <li><a href="https://www.umass.edu/music/graduate-music-theory"><img src="../../img/2021_banner_ads/UMass.jpg" /></a></li>
      <li><a href="https://music.wustl.edu/"><img src="../../img/2021_banner_ads/Washington.jpg" /></a></li>
      <li><a href="https://mtsnys.org"><img src="../../img/2021_banner_ads/MTSNYS.jpeg" /></a></li>
    </ul>
    </div>
  <div class="bannerControlsWpr bannerControlsPrev"><div class="bannerControls"></div></div>
  <div class="bannerIndicators"><ul></ul></div>
  <div class="bannerControlsWpr bannerControlsNext"><div class="bannerControls"></div></div>
</div>
