{% assign crumbs = page.url | remove:'/index.html' | split: '/' %}

<div class="breadcrumbs">
<a href="/">Home</a>
{% for crumb in crumbs offset: 1 %}
  {% if forloop.last %}
    > {{ page.title }}
  {% else %}
    > <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | replace: 'nov3', 'November 3' | replace: 'nov4', 'November 4'| replace: 'nov5', 'November 5' | replace: 'nov6', 'November 6' | replace: 'nov7', 'November 7' | replace: 'morning', '9:00–12:00' | replace: 'midday', '12:00–3:00' | replace: 'afternoon', '3:00–6:00' | replace: 'evening', '6:00–9:00' | replace: 'sessions', 'Complete Schedule' capitalize }}</a>
  {% endif %}
{% endfor %}
</div>
