<details>
<summary>Interest Group Meetings</summary>

<p>Interest groups will be provided&nbsp;space on the SMT conference platform for meeting materials. For information&nbsp;on how to create and submit your meeting materials, visit the <a href="https://societymusictheory.org/meeting2020/presenter-guidance">Conference Presenter Guidelines</a>.</p>

<p>Much as at an in-person SMT, the format of Interest Group meetings is left up to the leadership and members of individual IGs. Nonetheless, we do encourage IG leadership to follow these guidelines.&nbsp;&nbsp;</p>

<h2>Before the Meeting&nbsp;</h2>

<ul>
	<li>Interest group meetings are run as Zoom meetings. The Chair(s) of each IG will have host privileges and be expected to start the Zoom meeting and designate someone to monitor the meeting’s chat for appropriate behavior.&nbsp;&nbsp;</li>
	<li>Interest group chairs and presenters may gather ten minutes before their scheduled time to confer about the meeting. The IG Chair has the responsibility of organizing the meeting and ensuring that Presenters are aware of the IG session’s format.</li>
	<li>Among the information that Chairs should share with Presenters prior to the meeting:
	<ol>
		<li>The IG Meeting will occur in a Zoom meeting room, which allows every attendee to speak or use video.&nbsp;</li>
		<li>The Chair(s) will monitor the Zoom chat for any questions.</li>
	</ol>
	</li>
</ul>

<h2>Meeting Intro</h2>

<ul>
	<li>The meetings begins with the Chair giving an intro. During this time, the Chair will communicate the meeting’s organization to Attendees.&nbsp;</li>
	<li>The Chair will also read a brief statement (below) about appropriate language.&nbsp;
	<ul>
		<li>"SMT wishes to create a meeting in which all participants feel safe, welcomed and included. This should be a space of respectful and constructive discourse.&nbsp;To facilitate such an environment, we ask that all attendees refer to and abide by our guidelines on respectful interactions and policies on ethics and harassment."</li>
	</ul>
	</li>
	<li>The Monitor should at this point post a link to the <a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf">SMT guidelines on respectful interactions and policies on ethics, and harassment</a> in the Chat.</li>
	<li>Other considerations:
	<ol>
		<li>Because this is a Zoom meeting, we recommend that Chairs ask Attendees to mute their audio to help avoid feedback and delay problems. Attendees can un-mute while asking questions during any Q&amp;A. Meeting Monitors should monitor the meeting for audio problems. If feedback or delay occurs, the Monitor should write a note in the chat asking Attendees to mute their audio.</li>
		<li>We recommend that Chairs encourage Attendees to communicate with one another through the chat. It would be valuable for Chairs to explain to Attendees how to make the chat window visible on their screen.</li>
		<li>Each IG will have a dedicated Slack chat to use throughout the conference. Chairs are encouraged to share the link to that Slack chat so that IG members can communicate with one another after the IG meeting.</li>
	</ol>
	</li>
</ul>

<h2>The Meeting&nbsp;</h2>

<ul>
	<li>The meeting format is left up to individual IGs. We recommend that IG leadership familiarize themselves with the possibilities of using a Zoom meeting room prior to the meeting&nbsp;itself.</li>
	<li>During the meeting, the Chair and Monitor are expected to monitor the chat and discussion to ensure that Attendees respect the <a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf">SMT guidelines on respectful interactions</a>.</li>
</ul>

<h2>Meeting Ending</h2>

<ul>
	<li>Chairs and Monitors have a responsibility to end the meeting on time. If this responsibility is not carried out by the Chair or Monitor, an administrator will end the session so that the next meeting may begin on time.</li>
	<li>At the end of each session, we recommend that Chairs encourage Attendees to continue an asynchronous discussion on Slack.</li>
</ul>

<h2>If You Need Help During the Session</h2>

<ul>
	<li>If there is a technical problem with&nbsp;Zoom, please send an email to <a>support@societymusictheory.org</a>.&nbsp;</li>
	<li>If someone in the meeting is not abiding by the <a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf">SMT policies on ethics and harassment or guidelines on respectful interactions</a>, please contact Jennifer Diaz at <a>smt@societymusictheory.org</a> or Patricia Hall at <a>president@societymusictheory.org</a>.&nbsp;</li>
</ul>
</details>