<!-- Navigation -->
<div class="b-nav">
  <li><a class="b-link" href="/search">Search</a></li>
  <li><a class="b-link" href="/san-antonio">Experience San Antonio</a></li>
  <li><a class="b-link" href="/restaurant_guide">Restaurant Guide</a></li>
  <li><a class="b-link" href="/maps">Hotel Maps</a></li>
</div>

<!-- Burger-Icon -->
<div class="b-container">
  <div class="b-menu">
    <div class="b-bun b-bun--top"></div>
    <div class="b-bun b-bun--mid"></div>
    <div class="b-bun b-bun--bottom"></div>
  </div>

  <!-- Burger-Brand -->
  <a href="/" class="b-brand">AMS/SMT San Antonio</a>

</div>
