    <!-- Component -->
<div class="site-header">
    <div class="navbar-component">
      <!-- Class `area` is a container -->
      <div class="navbar area">
        <!-- Logo -->
		<div class="site-title"><a href="/"><strong><em>SMT</em></strong> Virtual Conference 2020</a></div>
		<div class="site-mobile-title"><a href="/"><strong><em>SMT</em></strong>  2020</a></div>    	
        <!-- List of links -->
        <nav role="navigation" id="navigation" class="list">
          <a href="/schedule" class="item -link">Complete Schedule</a>
          <a href="/presenter-info" class="item -link">Resources</a>
          <a href="/interest-groups" class="item -link">Interest Groups</a>
          <a href="#" class="item -link">Graduate School Fair</a>
          <a href="https://www.amsmusicology.org" class="item -link"><em>AMS</em></a>
          <a href="/search" class="item"><span><i class="fa fa-search"></i></span></a>
        </nav>
        <!-- Button to toggle the display menu  -->
        <button data-collapse data-target="#navigation" class="toggle">
          <!-- Hamburger icon -->
          <span class="icon"></span>
        </button>
      </div>
    </div>
</div>








