<!-- Navigation -->
<div class="b-nav">
  <li><a class="b-link" href="/about">About</a></li>
  <li><a class="b-link" href="/vancouver">Experience Vancouver</a></li>
  <li><a class="b-link" href="/maps">Hotel Maps</a></li>
  <li><a class="b-link" href="/author-index">Search</a></li>
</div>

<!-- Burger-Icon -->
<div class="b-container">
  <div class="b-menu">
    <div class="b-bun b-bun--top"></div>
    <div class="b-bun b-bun--mid"></div>
    <div class="b-bun b-bun--bottom"></div>
  </div>

  <!-- Burger-Brand -->
  <a href="/" class="b-brand">SMT Arlington</a>

</div>
