{% assign sess = site.data.sessions[page.slug] %}

<h2>Panelists</h2>

<ul class="panelist-info">
{% for panelist in sess.panelists %}

  {%- capture handout -%}
  {% if panelist.handouts %}
    <ul>
      {%- for h in panelist.handouts -%}
      <li><a href="//societymusictheory.org/files/2018_handouts/{{ h.path }}">{{ h.desc }}</a></li>
      {%- endfor -%}
    </ul>
    {% endif %}
  {%- endcapture -%}

  <li>{{ panelist.name }} ({{ panelist.institution }}){{ handout }}</li>
{% endfor %}
</ul>
