<details>
<summary>Information for <strong>Paper Sessions</strong></summary>

<p>This is a resource for session chairs, presenters, and monitors of SMT paper sessions.</p>
<p>For information on how to create and submit your conference materials, visit the Conference Presenter Guidelines. </p>


<h2>Before the session</h2>

<p>Each session will be assigned a Monitor. Both Chairs and Monitors will be given “host/co-host” privileges. </p>

<p>Presenters, Chairs, and Monitors should join the meeting 10 minutes before the session begins by following the link on the session page; a staff member will admit you from the waiting room into the meeting.  Shortly after joining the meeting, a staff member will turn over host duties to the Chair(s) and Monitor.</p>

<p>During this time:</p>
</blockquote>
<ul>
<li><blockquote>
<p><strong>Monitors</strong>: make sure that Presenters know how to share their screen, if they’d like to do that. </p>
</blockquote></li>
<li><blockquote>
<p><strong>Chairs</strong>: remind Presenters of the progression of the session, including presentation order.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Chairs/Monitors</strong>: if one of your Presenters does not arrive, please contact <a href="mailto:%20smt@societymusictheory.org"><u>smt@societymusictheory.org</u></a>. </p>
</blockquote></li>
<li><blockquote>
<p><strong>Chairs/Monitors</strong>: About one minute before the start time, disable the waiting room feature to admit attendees.</p>
</blockquote></li>
</ul></li>
</ul>

<h2>Session Intro</h2>
<ul>
<li><blockquote>
<p><strong>Chair: </strong>Begin the session with a brief intro (see the sample script) that includes the session’s title, order of presentations, and information about the presentations being recorded and available through December 31.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Chair</strong>: Read the brief statement (below) about appropriate language and behavior.</p>
</blockquote>
<ul>
<li><blockquote>
<p><em>"SMT wishes to create a meeting in which all participants feel safe, welcomed and included. This should be a space of respectful and constructive discourse. To facilitate such an environment, we ask that all attendees refer to and abide by our guidelines on respectful interactions and policies on ethics and harassment."</em></p>
</blockquote></li>
</ul></li>
<li><blockquote>
<p><strong>Monitor: </strong>as the Chair reads the statement, post a link to our guidelines on respectful interactions and policies on ethics, and harassment in the Chat.  </p>
</blockquote></li>
</ul>

<ul>
	<li>Presenters, Chairs, and Monitors should join the webinar 10 minutes before the session begins by following the link on the session page.&nbsp;You may be asked to enter your name and email address.&nbsp;Shortly after joining the webinar, a volunteer will arrive and turn over host duties to the Chair(s) and Monitor.</li>
	<li>During this 10 minute period, each webinar will have “practice mode” enabled. In "practice mode," only Presenters, Chairs, and Monitors can join.&nbsp;During this time:
	<ul>
		<li><strong>Monitors</strong>: instruct Chairs and Presenters to open the “participants",&nbsp;“chat”, and "Q&amp;A" windows. This will allow them to see who is in the session,&nbsp;what's being posted in the chat, and what questions are being asked.</li>
		<li><strong>Monitors</strong>: make sure that Presenters know how to share their screen, if they’d like to do that.&nbsp;</li>
		<li><strong>Chairs</strong>: remind Presenters of the progression of the session, including presentation order and the procedure by which each poster will be sent to an individual meeting room.&nbsp;</li>
		<li>In the case of a multi-authored poster, the <strong>Monitor</strong> should confirm which of the Presenters will be giving the summary so they know which person(s) to unmute for that presentation summary.</li>
		<li><strong>Chairs/Monitors</strong>: if one of your Presenters does not arrive, please contact <a href="mailto: smt@societymusictheory.org">smt@societymusictheory.org</a>.&nbsp;</li>
		<li><strong>Chairs/Monitors</strong>:&nbsp;About one minute before the start time, click the "Start Webinar" button.&nbsp;</li>
	</ul>
	</li>
</ul>

<h2>Session Intro</h2>

<ul>
	<li><strong>Chair:&nbsp;</strong>Begin the session with a brief intro that includes the session’s title, order of presentations, and an explanation of the function of the Chat and "Q&amp;A" window.&nbsp;</li>
	<li><strong>Chair</strong>: Read the brief statement (below) about appropriate language and behavior.
	<ul>
		<li>
		<blockquote>
		<p>"SMT wishes to create a meeting in which all participants feel safe, welcomed and included. This should be a space of respectful and constructive discourse.&nbsp;To facilitate such an environment, we ask that all attendees refer to and abide by our guidelines on respectful interactions and policies on ethics and harassment."</p>
		</blockquote>
		</li>
	</ul>
	</li>
	<li><strong>Monitor:&nbsp;</strong>as the Chair reads the statement,&nbsp;post a link&nbsp;to our <a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf">guidelines on respectful interactions and policies on ethics, and harassment</a> in the Chat.&nbsp;&nbsp;</li>
</ul>

<h2>Presentation Summaries</h2>

<ul>
	<li><strong>Chair:&nbsp;</strong>After the session intro, introduce each presentation in turn, giving presentation title and Presenter(s) name(s) and affiliation(s) only. (Presenter biographies will not be read, but can be found on the session page.)</li>
	<li>Each presentation will have a maximum of 5 minutes for presentation summary. These comments should be prepared ahead of time to ensure appropriate length. The 5-minute limit will be enforced by the Chair.</li>
</ul>

<h2>Q&amp;A</h2>

<ul>
	<li>Following the summaries of all presentations, the rest of the session will be a Q&amp;A.</li>
	<li><strong>Chair:</strong>&nbsp;You will field questions in the Zoom Q&amp;A window and ask them directly to the Presenters. Attendees will not be recognized to ask their questions using their own audio or video.&nbsp;
	<ul>
		<li>Attendees can ask questions throughout the session—even during the paper summaries.&nbsp;</li>
		<li>This will create a log of questions in the Q&amp;A window&nbsp;throughout the presentation that chairs should screen for content. Chairs can see new questions in the "Open" tab of the Q&amp;A window. If the chair believes a question is inappropriate, it can be "dismissed."&nbsp;</li>
		<li><strong>Chairs</strong> will choose the questions and the order of questions and ask them out loud to the Presenters. Chairs may also ask questions directly to the Presenters, or ask the Presenters if they have questions of each other.</li>
		<li><strong>Chairs:</strong>&nbsp;Please make every reasonable effort to balance the time spent on each of the presentations during the Q&amp;A.&nbsp;</li>
	</ul>
	</li>
</ul>

<h2>Session Ending</h2>

<ul>
	<li>Chairs and Monitors have a responsibility to end the webinar on time. Most sessions are expected to last 45 minutes. (Exceptions to this are noted below on the schedule.) If this responsibility is not carried out by the Chair or Monitor, an administrator will end the session so that the next meeting of presentations may begin on time.</li>
	<li>If there is a session following yours, note that your zoom must be vacant no later than 10 minutes before the beginning time of that next session.</li>
	<li>If there is not a session after yours, then the conversation could continue until the top of the hour. At that point, it would be appropriate to encourage attendees to continue the discussions through other media.&nbsp;</li>
	<li><strong>Chairs:&nbsp;</strong>As the session ends, you should point participants to the asynchronous discussion on Slack. At that time, monitors should share a link to the session's Slack so that the discussion can continue.</li>
</ul>

<h2>Other Session Monitor Responsibilities</h2>

<ul>
	<li>During the introduction and paper summaries the Monitor will "spotlight"&nbsp;the Chair and Presenters while they speak.</li>
	<li>The Monitor will post links to the <a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf">SMT guidelines on respectful interactions and policies on ethics and harassment</a> in the chat and Q&amp;A windows at the beginning of the session.</li>
	<li>The Monitor will monitor the chat and Q&amp;A to ensure that attendees respect the <a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf">SMT guidelines on respectful interactions</a>.&nbsp;</li>
	<li>Monitors will post links to the asynchronous Slack discussion in the Zoom chat.</li>
</ul>

<h2>Notes on Session Length</h2>

<ul>
	<li>Sessions that include three papers will be 45 minutes long.</li>
	<li>Sessions that include only two papers will also be&nbsp;45 minutes long.</li>
	<li>Sessions that include four speakers, or “short” alternative sessions (proposed originally as 90 minutes) will be 60 minutes long.</li>
	<li>Standing committee sessions and “long” alternative sessions (proposed originally as 180 minutes) will be 75 minutes long.&nbsp;</li>
</ul>

<h2>If You Need Help During the Session</h2>

<ul>
	<li>If there is a technical problem with the zoom, please send an email to <a href="mailto: support@societymusictheory.org"><u>support@societymusictheory.org</u></a>.&nbsp;</li>
	<li>If someone in a session is not abiding by the SMT policies on ethics and harassment or guidelines on online interactions, please contact Jennifer Diaz at <a href="mailto: smt@societymusictheory.org"><u>smt@societymusictheory.org</u></a> or Patricia Hall at <a href="mailto: president@societymusictheory.org"><u>president@societymusictheory.org</u></a>.&nbsp;</li>
	<li>If a member of the session (chair, monitor, presenter) fails to appear, please contact <a href="mailto: support@societymusictheory.org"><u>support@societymusictheory.org</u></a>.</li>
</ul>

</details>