<details>
<summary>Information for <strong>Paper Sessions</strong></summary>

<p>This is a resource for session chairs, presenters, and monitors of SMT paper sessions.</p>
<p>For information on how to create and submit your conference materials, visit the Conference Presenter Guidelines. </p>


<h2>Before the session</h2>

<p>Each session will be assigned a Monitor. Both Chairs and Monitors will be given “host/co-host” privileges. </p>

<p>Presenters, Chairs, and Monitors should join the meeting 10 minutes before the session begins by following the link on the session page; a staff member will admit you from the waiting room into the meeting.  Shortly after joining the meeting, a staff member will turn over host duties to the Chair(s) and Monitor.</p>

<p>During this time:</p>
</blockquote>
<ul>
<li><blockquote>
<p><strong>Monitors</strong>: make sure that Presenters know how to share their screen, if they’d like to do that. </p>
</blockquote></li>
<li><blockquote>
<p><strong>Chairs</strong>: remind Presenters of the progression of the session, including presentation order.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Chairs/Monitors</strong>: if one of your Presenters does not arrive, please contact <a href="mailto:%20smt@societymusictheory.org"><u>smt@societymusictheory.org</u></a>. </p>
</blockquote></li>
<li><blockquote>
<p><strong>Chairs/Monitors</strong>: About one minute before the start time, disable the waiting room feature to admit attendees.</p>
</blockquote></li>
</ul></li>
</ul>

<h2>Session Intro</h2>
<ul>
<li><blockquote>
<p><strong>Chair: </strong>Begin the session with a brief intro (see the sample script) that includes the session’s title, order of presentations, and information about the presentations being recorded and available through December 31.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Chair</strong>: Read the brief statement (below) about appropriate language and behavior.</p>
</blockquote>
<ul>
<li><blockquote>
<p><em>"SMT wishes to create a meeting in which all participants feel safe, welcomed and included. This should be a space of respectful and constructive discourse. To facilitate such an environment, we ask that all attendees refer to and abide by our guidelines on respectful interactions and policies on ethics and harassment."</em></p>
</blockquote></li>
</ul></li>
<li><blockquote>
<p><strong>Monitor: </strong>as the Chair reads the statement, post a link <a href="https://societymusictheory.org/meeting2021/guidelines-for-respectful-interactions">to our guidelines on respectful interactions and policies on ethics, and harassment</a> in the Chat.  </p>
</blockquote></li>
</ul>



<h2>Presentation</h2>

<li><blockquote>
<p><strong>Chair: </strong>After the session intro, introduce each presentation in turn, giving presentation title and Presenter(s) name(s) and affiliation(s) only. (Presenter biographies will not be read, but may be found on the session page.)</p>
</blockquote></li>
<li><blockquote>
<p>Each presentation will have a maximum of 20 minutes. It is up to the chair to ensure that each presentation and Q&amp;A last no more than 30 minutes.</p>
</blockquote></li>
</ul>

<h2>Q&amp;A</h2>

<li><blockquote>
<p>There will be a 10-minute Q&amp;A following each presentation.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Chair:</strong> You may invite questions for the presenter after the presentation has finished. It is up to the chair’s discretion as to how to accept questions. We encourage chairs to use the chat for attendees to submit questions.</p>
</blockquote></li>
<li><blockquote>
<p>It is up to the chair to ensure that each presentation and Q&amp;A last no more than 30 minutes.</p>
</blockquote></li>
</ul>

<h2>Session Ending</h2>

<ul>
<li><blockquote>
<p>Chairs and Monitors have a responsibility to end the meeting on time. Most sessions are expected to last 90 minutes, but may be more or less, depending on the number of papers in the session. If this responsibility is not carried out by the Chair or Monitor, an administrator will end the session so that the next meeting of presentations may begin on time.</p>
</blockquote></li>
<li><blockquote>
<p>If there is a session following yours, note that your zoom must be vacant no later than 10 minutes before the beginning time of that next session.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Chairs: </strong>As the session ends, you should point participants to the asynchronous discussion on Slack. At that time, monitors should share a link to the session's Slack so that the discussion can continue.</p>
</blockquote></li>
</ul>

<h2>Session Monitor Responsibilities</h2>

<ul>
<li><blockquote>
<p>The Monitor will post links to the SMT guidelines on respectful interactions and policies on ethics and harassment in the chat window at the beginning of the session.</p>
</blockquote></li>
<li><blockquote>
<p>The Monitor will follow the chat to ensure that attendees respect the SMT guidelines on respectful interactions. </p>
</blockquote></li>
<li><blockquote>
<p>The Monitor is responsible for recording the session.</p>
</blockquote></li>
<li><blockquote>
<p>Monitors will post links to the asynchronous Slack discussion in the Zoom chat.</p>
</blockquote></li>
</ul>


<h2>If You Need Help During the Session</h2>

<ul>
<li><blockquote>
<p>If there is a technical problem with the zoom, please send an email to <a href="mailto:smt@societymusictheory.org"><u>smt@societymusictheory.org.</u></a></p>
</blockquote></li>
<li><blockquote>
<p>If someone in a session is not abiding by the SMT policies on ethics and harassment or guidelines on online interactions, please contact Jennifer Diaz at <a href="mailto:smt@societymusictheory.org"><u>smt@societymusictheory.org</u></a> or Patricia Hall at <a href="mailto:president@societymusictheory.org"><u>president@societymusictheory.org</u></a>. </p>
</blockquote></li>
<li><blockquote>
<p>If a member of the session (chair, monitor, presenter) fails to appear, please contact <a href="mailto:smt@societymusictheory.org"><u>smt@societymusictheory.org.</u></a></p>
</blockquote></li>
</ul>

</details>