<h1>Poster Session Guidance</h1>

<p>For information on how to create and submit your conference materials, visit the <a href="https://societymusictheory.org/meeting2020/presenter-guidance">Conference Presenter Guidelines</a>.</p>

<p>Virtual training sessions will be available on October 17 &amp; 24 at 10:30 AM CDT (links have been emailed to all session chairs, presenters, and monitors); we encourage session chairs, presenters, and volunteers to attend one training session or watch the archived video.&nbsp;</p>

<p>Poster sessions begin as Zoom webinars, but after introductory remarks from the Chair and lightning talks from the Presenters, each poster presentation will have their own individual Zoom meeting room where they can interact with attendees.</p>

<h2>Before the session</h2>

<ul>
	<li>Each session will be assigned a Monitor. Both Chairs and Monitors will have “host” privileges.</li>
	<li>Each webinar will have “practice mode” enabled 10 minutes before the session begins. Only the Chair, Presenters, and Monitor should&nbsp; join at this time. During the 10-minute practice mode:
	<ul>
		<li>Monitors should instruct Chairs and Presenters to open the “participants” and “chat” windows. This will allow them to see who is in the session and what they are posting in chat.</li>
		<li>Monitors should make sure that Presenters know how to share their screen, if they’d like to do that.&nbsp;</li>
		<li>The Chair will remind Presenters of the progression of the session, including presentation order and the procedure by which each poster will be sent to an individual meeting room.&nbsp;</li>
		<li>In the case of a multi-authored poster, the Monitor should confirm which of the Presenters will be giving the summary so they know which person(s) to unmute for that presentation summary.&nbsp;</li>
	</ul>
	</li>
</ul>

<h2>Session Intro</h2>

<ul>
	<li>The session begins with the Chair giving a brief intro that includes the session’s title, order of presentations, and an explanation of the function of the Chat. (Note that there will not be time for presenters to answer questions during the webinar portion of the session, so attendees should not use the webinar Chat for questions, but that statements of encouragement or other feedback are welcome, and will be archived for the presenters.)</li>
	<li>The Chair will also read a brief statement (below) about appropriate language and behavior, and the Monitor will post links to our <a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf">guidelines on respectful interactions and policies on ethics, and harassment</a> in the Chat.&nbsp;&nbsp;
	<ul>
		<li>
		<blockquote>
		<p>"SMT wishes to create a meeting in which all participants feel safe, welcomed and included. This should be a space of respectful and constructive discourse.&nbsp;To facilitate such an environment, we ask that all attendees refer to and abide by our guidelines on respectful interactions and policies on ethics and harassment."</p>
		</blockquote>
		</li>
	</ul>
	</li>
	<li>The Chair will also communicate to attendees the poster session procedure: after short presentations by the Presenters (no more than three-minute summaries), each poster Presenter will have their own individual Zoom meeting room where they will be able to interact with attendees.</li>
	<li>The Monitor will post links to each of the poster session Zoom rooms in the webinar Chat.</li>
</ul>

<h2>Presentation Summaries</h2>

<ul>
	<li>After the session intro, the Chair will introduce each presentation in turn, giving presentation title and Presenter(s) name(s) and affiliation(s) only. (Presenter biographies will not be read.)</li>
	<li>Each presentation will have a maximum of 3 minutes for presentation summary. These comments should be prepared ahead of time to ensure appropriate length. The 3-minute limit will be enforced by the Chair.</li>
	<li>Presenters are expected to listen to all of the summaries before heading into their individual Zoom rooms (see Q&amp;A, below).</li>
</ul>

<h2>Q&amp;A</h2>

<ul>
	<li>Following the summaries of all presentations, each of the Poster Presenters will move to an individual Zoom room where they can interact with attendees.&nbsp;</li>
	<li>In each of these Zoom meeting rooms, the Presenter(s) and Attendees will be able to see each other and interact face-to-face. Presenters may also answer questions that are posted in the Chat.</li>
	<li>The Chair and Monitor are expected to move around from room to room and interact with Presenters.</li>
</ul>

<h2>Session Ending</h2>

<ul>
	<li>The Q&amp;A session is expected to last until 45 minutes after the hour.</li>
	<li>Presenter(s) are responsible for ending the session no later than 10 minutes before the top of the hour.&nbsp;</li>
	<li>If this responsibility is not carried out by the Presenter(s), an administrator may end the session so that the next meeting may begin on time.</li>
</ul>

<h2>Other Session Monitor Responsibilities</h2>

<ul>
	<li>During the introduction and paper summaries, the session monitor will mute the Chair and Presenters until it is their turn to speak.</li>
	<li>The session monitor will post links to the poster session meeting rooms in the chat.</li>
	<li>The session monitor will post links to the <a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf">SMT guidelines on respectful interactions and policies on ethics and harassment </a>in the Chat at the beginning of the session.</li>
	<li>The Monitor will coordinate with the Chair to monitor the Zoom rooms. Monitors should ensure that Presenters and Attendees respect the <a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf">SMT guidelines on respectful interactions</a>.&nbsp;</li>
</ul>

<h2>If You Need Help During the Session</h2>

<ul>
	<li>If there is a technical problem with the Zoom, please send an email to <a>support@societymusictheory.org</a>.&nbsp;</li>
	<li>If someone in a session is not abiding by the SMT policies on ethics and harassment or guidelines on online interactions, please contact Jennifer Diaz at <a>smt@societymusictheory.org</a> or Patricia Hall at <a>president@societymusictheory.org</a>.&nbsp;</li>
	<li>If a member of the session (chair, monitor, presenter) fails to appear, please contact <a>support@societymusictheory.org</a>.</li>
</ul>
