<details>
<summary>Information for <strong>Poster Sessions</strong></summary>

<p>This is a resource for session chairs, presenters, and monitors of SMT poster sessions.</p>
<p>For information on how to create and submit your conference materials, visit the Conference Presenter Guidelines.</p>
<p>Poster sessions begin as Zoom meetings, but after introductory remarks from the Chair and lightning talks from the Presenters, each poster presentation will have their own individual Zoom meeting room where they can interact with attendees.</p>


<h2>Before the session</h2>

<ul>
<li><blockquote>
<p>Each session will be assigned a Monitor. Both Chairs and Monitors will have “host/co-host” privileges. </p>
</blockquote></li>
<li><blockquote>
<p>Presenters, Chairs, and Monitors should join the meeting 10 minutes before the session begins by following the link on the session page; a staff member will admit you from the waiting room into the meeting. Shortly after joining the meeting, a staff member will turn over host duties to the Chair(s) and Monitor.</p>
</blockquote></li>
<li><blockquote>

<p>During this time:</p>
</blockquote>
<ul>
<li><blockquote>
<p><strong>Monitors</strong>: instruct Chairs and Presenters to open the “chat” window. This will allow them to see what's being posted in the chat, and what questions are being asked.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Monitors</strong>: make sure that Presenters know how to share their screen, if they’d like to do that. </p>
</blockquote></li>
<li><blockquote>
<p><strong>Monitors</strong>: create a breakout room for each poster author(s). Use the presenters’ names to label the rooms. Include language on how to set up and close breakout rooms.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Chairs</strong>: remind Presenters of the progression of the session, including presentation order and the procedure by which each poster will be sent to an individual meeting room. </p>
</blockquote></li>
<li><blockquote>
<p>In the case of a multi-authored poster, the <strong>Monitor</strong> should confirm which of the Presenters will be giving the summary so they know which person(s) to unmute for that presentation summary.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Chairs/Monitors</strong>: if one of your Presenters does not arrive, please contact <a href="mailto:smt@societymusictheory.org"><u>smt@societymusictheory.org</u></a>. </p>
</blockquote></li>
<li><blockquote>
<p><strong>Monitors</strong>: About one minute before the start time, begin to admit attendees from the waiting room into the meeting. </p>
</blockquote></li>
</ul></li>
</ul>


<h2>Session Intro</h2>

<ul>
<li><blockquote>
<p><strong>Chair: </strong>Begin the session with a brief intro (see the sample script) that includes the session’s title, order of presentations, and information about the presentations being recorded and available on the conference platform through December 31.</p>
</blockquote></li>
<li><blockquote>
<p><strong>Chair</strong>: Read the brief statement (below) about appropriate language and behavior.</p>
</blockquote>
<ul>
<li><blockquote>
<p><em>"SMT wishes to create a meeting in which all participants feel safe, welcomed and included. This should be a space of respectful and constructive discourse. To facilitate such an environment, we ask that all attendees refer to and abide by our guidelines on respectful interactions and policies on ethics and harassment."</em></p>
</blockquote></li>
</ul></li>
<li><blockquote>
<p><strong>Monitor: </strong>as the Chair reads the statement, post a link <a href="https://societymusictheory.org/meeting2021/guidelines-for-respectful-interactions">to our guidelines on respectful interactions and policies on ethics, and harassment</a> in the Chat.  </p>
</blockquote></li>
<li><blockquote>
<p><strong>Chair:</strong> communicate to attendees the poster session procedure: after short presentations by the Presenters (no more than five-minutes), each poster Presenter will have their own individual Zoom breakout room where they will be able to interact with attendees.</p>
</blockquote></li>
</ul>

<h2>Presentation Summaries</h2>

<ul>
<li><blockquote>
<p><strong>Chair: </strong>After the session intro, introduce each presentation in turn, giving presentation title and Presenter(s) name(s) and affiliation(s) only. (Presenter biographies will not be read, but can be found on the session page.)</p>
</blockquote></li>
<li><blockquote>
<p>Each presentation will have a maximum of 5 minutes for presentation summary. These comments should be prepared ahead of time to ensure appropriate length. Presenters are expected to listen to all of the summaries before heading into their individual Zoom breakout rooms (see Q&amp;A, below).</p>
</blockquote></li>
</ul>

<h2>Q&amp;A</h2>

<ul>
<li><blockquote>
<p>Following the summaries of all presentations, each of the Poster Presenters will move to an individual Zoom breakout room where they can interact with attendees. </p>
</blockquote></li>
<li><blockquote>
<p>In each of these Zoom meeting rooms, the Presenter(s) and Attendees will be able to see each other and interact face-to-face. Presenters may also answer questions that are posted in the Chat.</p>
</blockquote></li>
<li><blockquote>
<p>The Chair and Monitor are expected to move around from room to room and interact with Presenters.</p>
</blockquote></li>
</ul>

<h2>Session Ending</h2>

<ul>
<li><blockquote>
<p>The session is expected to end on time. If this responsibility is not carried out by the Presenter(s), an administrator may end the session so that the next meeting may begin on time.</p>
</blockquote></li>
</ul>

<h2>Other Session Monitor Responsibilities</h2>

<ul>
<li><blockquote>
<p>The session monitor will post links to the SMT guidelines on respectful interactions and policies on ethics and harassment<a href="https://societymusictheory.org/sites/default/files/events/misc/2020/virtual-conference-guidelines-and-policies.pdf"><u> </u></a>in the Chat at the beginning of the session.</p>
</blockquote></li>
<li><blockquote>
<p>The Monitor will coordinate with the Chair to monitor the Zoom breakout rooms. Monitors should ensure that Presenters and Attendees respect the SMT guidelines on respectful interactions. </p>
</blockquote></li>
<li><blockquote>
<p>Monitors will post links to the asynchronous Slack discussion in the Zoom chat.</p>
</blockquote></li>
</ul>

<h2>If You Need Help During the Session</h2>

<ul>
<li><blockquote>
<p>If there is a technical problem with the zoom, please send an email to <a href="mailto:smt@societymusictheory.org"><u>smt@societymusictheory.org.</u></a></p>
</blockquote></li>
<li><blockquote>
<p>If someone in a session is not abiding by the SMT policies on ethics and harassment or guidelines on online interactions, please contact Jennifer Diaz at <a href="mailto:smt@societymusictheory.org"><u>smt@societymusictheory.org</u></a> or Patricia Hall at <a href="mailto:president@societymusictheory.org"><u>president@societymusictheory.org</u></a>. </p>
</blockquote></li>
<li><blockquote>
<p>If a member of the session (chair, monitor, presenter) fails to appear, please contact <a href="mailto:smt@societymusictheory.org"><u>smt@societymusictheory.org.</u></a></p>
</blockquote></li>
</ul>

</details>
