<details>
<summary>Paper Presenters, Lightning Talk Presenters, and Respondents</summary>

<ul>
	<li>During the virtual conference, each regular paper session will include between two and four different presentations.</li>
	<li>Sessions will be 45 minutes. Paper sessions will take place in Zoom Webinar. The presenters and the chair will appear on the screen, but attendees will remain muted and&nbsp;invisible, unless given access permission by the chair.</li>
	<li>Each presentation will be allowed time to provide a brief summary of their paper--no more than five minutes each.</li>
	<li>These brief summaries will be followed by a general Q&amp;A.</li>
	<li>Alternative sessions may have a slightly different structure. Please contact your session&nbsp;organizer with any questions.</li>
</ul>

<p>Prior to the conference, attendees will be encouraged to review your materials.

<h2>Poster Presenters</h2>

<ul>
	<li>During the virtual conference there will be multiple poster sessions, each including four or five different poster presentations.</li>
	<li>Poster sessions will be 45 minutes. They will begin in Zoom Webinar.</li>
	<li>Each presentation will be allowed time to provide a brief summary of their poster—no&nbsp;more than three minutes each. Think of this as the “elevator pitch” you would have&nbsp;prepared for the face-to-face conference.</li>
	<li>These brief summaries presentations will be followed by a Q&amp;A where each poster&nbsp;presentation will have its own Zoom Meeting room. This will give conference attendees the opportunity to interact with each poster presentation in small groups and to move freely among the posters sessions.</li>
</ul>

<p>Prior to the conference, attendees will be encouraged to review your materials. 
</details>