<h1>Paper Presenters, Lightning Talk Presenters, and Respondents</h1>

<ul>
	<li>During the virtual conference, each regular paper session will include between two and four different presentations.</li>
	<li>Sessions will be 45 minutes. Paper sessions will take place in Zoom Webinar. The presenters and the chair will appear on the screen, but attendees will remain muted and&nbsp;invisible, unless given access permission by the chair.</li>
	<li>Each presentation will be allowed time to provide a brief summary of their paper--no more than five minutes each.</li>
	<li>These brief summaries will be followed by a general Q&amp;A.</li>
	<li>Alternative sessions may have a slightly different structure. Please contact your session&nbsp;organizer with any questions.</li>
</ul>

<p>Prior to the conference, attendees will be encouraged to review your materials. Please submit one or more of the following to <a href="mailto:conferencematerials@societymusictheory.org">conferencematerials@societymusictheory.org</a>&nbsp;no later than October 15:</p>

<ul>
	<li>A video of your talk that is the same length as or shorter than what you proposed
	<ul>
		<li>Presenters may want to record themselves direct-address-to-camera&nbsp;using their smartphone or a computer app, such as Photo Booth or Quicktime (Mac) or Camera (Windows). If you choose this option and have examples to refer to, you can provide them as a PDF so that viewers can download them and follow along.</li>
		<li>Presenters who wish to show graphics as part of their talks may want to use the recording features embedded in PowerPoint or Keynote. Screen&nbsp;capture videos are also a possibility. <a href="//www.smt-v.org/submit/resources.html">More information about making such&nbsp;videos can be found on SMT-V's website.</a></li>
		<li>Please use a standard video format (such as .mpg, .mov, or .mp4) and&nbsp;avoid overly large file sizes.</li>
		<li>We ask that those who upload videos either include closed captioning in&nbsp;the video itself or provide a transcript.&nbsp;We will be using&nbsp;<a href="https://vimeo.com/">Vimeo</a>&nbsp;to host the video content and therefore recommend you submit your closed captioning as a&nbsp;<a href="https://www.socialmediaexaminer.com/create-custom-srt-files-video-subtitles/">.SRT file</a>.</li>
	</ul>
	</li>
	<li>Audio files&nbsp;of a standard type (e.g., MP3, MP4, AAC, WAV)</li>
	<li>A PDF of the script of your talk</li>
	<li>A PDF of slides (PowerPoint Keynote) or a handout
	<ul>
		<li>Do not upload PowerPoint or Keynote slides themselves as not everyone&nbsp;will have the software to view them.</li>
	</ul>
	</li>
</ul>

<p>In addition,&nbsp;you may submit a PDF of your bio.</p>

<h2>Poster Presenters</h2>

<ul>
	<li>During the virtual conference there will be multiple poster sessions, each including four or five different poster presentations.</li>
	<li>Poster sessions will be 45 minutes. They will begin in Zoom Webinar.</li>
	<li>Each presentation will be allowed time to provide a brief summary of their poster—no&nbsp;more than three minutes each. Think of this as the “elevator pitch” you would have&nbsp;prepared for the face-to-face conference.</li>
	<li>These brief summaries presentations will be followed by a Q&amp;A where each poster&nbsp;presentation will have its own Zoom Meeting room. This will give conference attendees the opportunity to interact with each poster presentation in small groups and to move freely among the posters sessions.</li>
</ul>

<p>Prior to the conference, attendees will be encouraged to review your materials. Please submit one of the following to <a href="mailto:conferencematerials@societymusictheory.org">conferencematerials@societymusictheory.org</a>&nbsp;no later than October 15:</p>

<ul>
	<li>A video of your talk that is no longer than five minutes
	<ul>
		<li>Unlike a digital poster, which often includes still images and no sound, this video may include sound.</li>
		<li>There is no limit to the number of slides to be included, but please observe the five-minute time limit.</li>
		<li>We recommend that presenters show graphics as part of this video and use the recording features embedded in PowerPoint or Keynote. Screen&nbsp;capture videos are also a possibility. <a href="//www.smt-v.org/submit/resources.html">More information about making such&nbsp;videos can be found on SMT-V's website.</a></li>
		<li>Please use a standard video format (such as .mpg, .mov, or .mp4) and avoid overly large file sizes.</li>
		<li>We ask that those who upload videos either include closed captioning in&nbsp;the video itself or provide a transcript. We will be using&nbsp;<a href="https://vimeo.com/">Vimeo</a>&nbsp;to host the video content and therefore recommend you submit your closed captioning as a&nbsp;<a href="https://www.socialmediaexaminer.com/create-custom-srt-files-video-subtitles/">.SRT file</a>.</li>
	</ul>
	</li>
	<li>Audio files&nbsp;of a standard type (e.g., MP3, MP4, AAC, WAV)</li>
	<li>A PDF of a “digital” poster
	<ul>
		<li>Unlike a traditional poster, which uses only one powerpoint slide, a digital poster may have up to five slides. If you choose this option, your PDF may include up to five slides.</li>
		<li>Please make sure to provide a PDF of your slides. Do not upload the slides themselves.</li>
	</ul>
	</li>
	<li>A PDF of a “traditional” poster
	<ul>
		<li>A traditional poster encompasses a single slide.</li>
		<li>Please make sure to provide a PDF of your slide. Do not upload the slide itself.</li>
	</ul>
	</li>
</ul>

<p>In addition, you may submit a PDF of your bio.</p>

<h2><span><span><span><span><span><span><span><span><span><span><span><span><span><span>Interest Groups</span></span></span></span></span></span></span></span></span></span></span></span></span></span></h2>

<p><span><span><span><span><span><span><span><span><span><span><span><span><span>Prior to the conference, attendees will be encouraged to review your materials. You may submit one or more of the following to </span></span></span></span></span></span></span></span></span></span></span></span></span><a href="mailto:conferencematerials@societymusictheory.org">conferencematerials@societymusictheory.org</a>&nbsp;no later than October 15<span><span><span><span><span><span><span><span><span><span><span><span><span>:</span></span></span></span></span></span></span></span></span></span></span></span></span></p>

<ul>
	<li><span><span><span><span><span><span><span><span><span>Agenda/Program</span></span></span></span></span></span></span></span></span></li>
	<li><span><span><span><span><span><span><span><span><span>A video of talks by invited presenter(s)</span></span></span></span></span></span></span></span></span>
	<ul>
		<li><span><span><span><span><span><span><span><span><span>Presenters may want to record themselves direct-address-to-camera&nbsp;using their smartphone or a computer app, such as Photo Booth or Quicktime (Mac) or Camera (Windows). If you choose this option and have examples to refer to, you can provide them as a PDF so that viewers can download them and follow along.</span></span></span></span></span></span></span></span></span></li>
		<li><span><span><span><span><span><span><span><span><span>Presenters who wish to show graphics as part of their talks may want to use the recording features embedded in PowerPoint or Keynote. Screen&nbsp;capture videos are also a possibility.&nbsp;<a href="https://www.smt-v.org/submit/resources.html"><span><span>More information about making such&nbsp;videos can be found on SMT-V's website.</span></span></a></span></span></span></span></span></span></span></span></span></li>
		<li><span><span><span><span><span><span><span><span><span>Please use a standard video format (such as .mpg, .mov, or .mp4) and&nbsp;avoid overly large file sizes.</span></span></span></span></span></span></span></span></span></li>
		<li>We ask that those who upload videos either include closed captioning in&nbsp;the video itself or provide a transcript. We will be using&nbsp;<a href="https://vimeo.com/">Vimeo</a>&nbsp;to host the video content and therefore recommend you submit your closed captioning as a&nbsp;<a href="https://www.socialmediaexaminer.com/create-custom-srt-files-video-subtitles/">.SRT file</a>.</li>
	</ul>
	</li>
	<li>Audio files&nbsp;of a standard type (e.g., MP3, MP4, AAC, WAV)</li>
	<li><span><span><span><span><span><span><span><span><span>A PDF of the script of talks by invited presenter(s)</span></span></span></span></span></span></span></span></span></li>
	<li><span><span><span><span><span><span><span><span><span>A PDF of slides (PowerPoint Keynote) or a handout</span></span></span></span></span></span></span></span></span>
	<ul>
		<li><span><span><span><span><span><span><span><span><span>Do not upload PowerPoint or Keynote slides themselves as not everyone&nbsp;will have the software to view them.</span></span></span></span></span></span></span></span></span></li>
	</ul>
