<details>
  <summary>Friday morning</summary><blockquote>
    <a href="sessions/fri/morning/">Morning sessions</a>
    <details>
      <summary>8:00--9:30a</summary><blockquote>
        {% include session-short.html session="virtual-demo" %}
        {% include session-short.html session="poster-session" %}
        </blockquote>
    </details>
  </blockquote>
</details>
<details>
  <summary>Saturday afternoon</summary><blockquote>
      <details>
          <summary>2:15--5:15p</summary><blockquote>
      {% include session-short.html session="plenary-session" %}
        </blockquote>
        </details>
  </blockquote>
</details>
