{% assign sess = site.data.sessions[page.slug] %}

<p class="sessionInfo"><span class="room"><a href="/maps">{{ sess.room }}</a></span> • {{ sess.time }}</p>
<h1>{{ sess.title }}</h1>
{% if sess.sponsor %}
<h3 class="sponsor">Sponsored by the {{ sess.sponsor }}</h3>
{% endif %}

{%- capture chair -%}
  {%- if sess.chair.formatted -%}
    {{ sess.chair.formatted }}
  {%- else -%}
    {{ sess.chair.name }} ({{ sess.chair.institution }}),&nbsp;
    {%- if sess.chair.title -%}
      {{ sess.chair.title }}
    {%- else -%}
      Chair
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

<p class="chair">{{ chair }}
{%- if sess.respondent -%}
<br />
  {{ sess.respondent.name }} ({{ sess.respondent.institution }}),&nbsp;
  {%- if sess.respondent.title -%}
    {{ sess.respondent.title }}
  {%- else -%}
    Respondent
  {%- endif -%}
{%- endif -%}
</p>
