<p class="sessionInfo"><span class="room"><a href="/maps">{{ page.room }}</a></span> • {{ page.time }}</p>
<h1>{{ page.title }}</h1>
{% if page.sponsor %}
<h3 class="sponsor">Sponsored by the {{ page.sponsor }}</h3>
{% endif %}

{%- capture chair -%}
  {%- if page.chair.formatted -%}
    {{ page.chair.formatted }}
  {%- else -%}
    {{ page.chair.name }} ({{ page.chair.institution }}),&nbsp;
    {%- if page.chair.title -%}
      {{ page.chair.title }}
    {%- else -%}
      Chair
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

<p class="chair">{{ chair }}
{%- if page.respondent -%}
<br />
  {{ page.respondent.name }} ({{ page.respondent.institution }}),&nbsp;
  {%- if page.respondent.title -%}
    {{ page.respondent.title }}
  {%- else -%}
    Respondent
  {%- endif -%}
{%- endif -%}
</p>
