{% assign sess = site.data.sessions[page.slug] %}

<p class="sessionInfo"> {{ sess.time }}
</p>
<h1>{{ sess.title }}</h1>
{% if sess.sponsor %}
<h3 class="sponsor">Sponsored by the {{ sess.sponsor }}</h3>
{% endif %}

{%- capture chair -%}
  {%- if sess.chair.formatted -%}
    {{ sess.chair.formatted }}
  {%- else -%}
    {{ sess.chair.name }} ({{ sess.chair.institution }}),&nbsp;
    {%- if sess.chair.title -%}
      {{ sess.chair.title }}
    {%- else -%}
      Chair
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

<p class="chair">{{ chair }}
{%- if sess.respondent -%}
<br />
  {%- if sess.respondent.formatted -%}
    {{ sess.respondent.formatted }}
  {%- else -%}
    {{ sess.respondent.name }} ({{ sess.respondent.institution }}),&nbsp;
    {%- if sess.respondent.title -%}
      {{ sess.respondent.title }}
    {%- else -%}
      Respondent
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
</p>

{%- if sess.livestream -%}
<p class="livestream">This session will be streamed
<a href="https://societymusictheory.org/events/meeting2019/main">live on the internet</a>.
</p>
{%- endif -%}


<div class="icon-bar">
  	<a href="/ics/{{ sess.slug }}.ics"><i class="fas fa-calendar-alt"></i><br>Add this to your calendar</a> 
  	<a href="{{sess.playlist}}"><i class="fab fa-vimeo"></i><br>Session playlist</a> 
    <a href="{{sess.zoom}}"><i class="fas fa-video"></i><br>Synchronous Discussion on Zoom</a> 
  	<a href="{{sess.slack}}"><i class="fab fa-slack"></i><br>Asynchronous Discussion on Slack</a>
</div>



{%- if sess.abstract -%}
	 <p class="session-abstract">{{ sess.abstract }}</p>
{%- endif -%}



<!--{% if sess.playlist %}
<p>A playlist of all presentations in this session is available at <a href="{{ sess.playlist }}" target="_blank">this link</a>.</p>
{% endif %}-->
<!--<p class="calendar-link"><a href="/ics/{{ sess.slug }}.ics">Add this session to your calendar</a></p>-->

<!-- <p class="livestream">This session's Zoom discussion will take place at 11:00am EDT. Attendees can join by clicking <a href="
 https://buffalo.zoom.us/j/91149138237?pwd=N1VyZE0wUFhiVkxxTzBrL04xdjE0UT09">this link</a>.<p>
<p class="livestream">An asynchronous discussion is taking placing place on Slack at <a href="https://smt2020intern-k863069.slack.com/archives/C0153EJJZ5H">this link</a>.</p> -->
