{% assign sess = site.data.sessions[include.session] %}

<h3 class="index-session-title"><a href="{{ sess.slug }}">{{ sess.title }}</a>
   {% if sess.society %}<span class="society">({{ sess.society }})</span>{% endif %}
  <span class="room">({{ sess.room }})</span></h3>
<p class="index-chair">
{%- if sess.chair.formatted_short -%}
  {{ sess.chair.formatted_short }}
{%- else -%}
  {{ sess.chair.name }},&nbsp;
  {%- if sess.chair.title -%}
    {{ sess.chair.title }}
  {%- else -%}
    Chair
  {%- endif -%}
  {%- if sess.respondent -%}
  ; {{ sess.respondent.name }}, Respondent
  {%- endif -%}
{%- endif -%}
</p>

<ul class="paper-list">

{% for paper in sess.papers %}
  {% assign p = site.data.papers[paper] %}

  {%- capture auth -%}
    {%- if p.authors[0].formatted -%}
      {{ p.authors | slice: 1,99 | map: "name" | array_to_sentence_string }}
    {%- else -%}
      {{ p.authors[0].name }}
    {%- endif -%}
  {%- endcapture -%}
  <li>{{ auth }}, <span class="title">{{ p.title }}</span></li>
{% endfor %}

{%- if sess.panelists[0].name -%}
    <li>{{ sess.panelists | map: "name" | array_to_sentence_string }}, Panelists</li>
{%- endif -%}

</ul>

