{% assign sess = site.data.sessions[include.session] %}

<div class="session-contents"><details>
  <summary><a href="{{ sess.link }}">{{ sess.title }}</a>
   {% if sess.society %}<span class="society">({{ sess.society }})</span>{% endif %}
  <span class="room">({{ sess.room }})</span>
   {% if sess.zoom %}<span><a href="{{ sess.zoom }}"><i class="fas fa-camera"></i></a></span>{% endif %}
  </summary>
<p class="index-chair">
{%- if sess.sponsor -%}
<i>Sponsored by the {{ sess.sponsor }}</i><br>
{%- endif -%}

{%- if sess.chair.formatted_short -%}
  {{ sess.chair.formatted_short }}
{%- else -%}
  {{ sess.chair.name }},&nbsp;
  {%- if sess.chair.title -%}
    {{ sess.chair.title }}
  {%- else -%}
    Chair
  {%- endif -%}
{%- endif -%}
{%- if sess.respondent -%}
  {%- if sess.respondent.formatted_short -%}
    ; {{ sess.respondent.formatted_short }}
  {%- else -%}
    ; {{ sess.respondent.name }},&nbsp;
    {%- if sess.respondent.title -%}
      {{ sess.respondent.title }}
    {%- else -%}
      Respondent
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
{%- if sess.livestream -%}
<br><i>This session will be streamed <a href="https://societymusictheory.org/events/meeting2019/main">live on the internet</a></i>
{%- endif -%}

</p>

{% unless include.nopapers %}
<ul class="paper-list">

{% for paper in sess.papers %}
  {% assign p = site.data.papers[paper] %}

  {%- capture auth -%}
    {%- if p.authors[0].formatted -%}
      {{ p.authors | slice: 1,99 | map: "name" | array_to_sentence_string }}
    {%- else -%}
      {{ p.authors[0].name }}
    {%- endif -%}
  {%- endcapture -%}
  <li>{{ auth }}, <span class="title">{{ p.title }}</span></li>
{% endfor %}

{%- if sess.panelists[0].name -%}
    <li>{{ sess.panelists | map: "name" | array_to_sentence_string }}, Panelists</li>
{%- endif -%}
</ul>
{% endunless %}
</details>
</div>
