{% assign p = site.data.papers[include.paper] %}

{%- capture auth -%}
  {%- if p.authors[0].formatted -%}
    {{ p.authors[0].formatted }}
  {%- else -%}
    {{ p.authors[0].name }} ({{ p.authors[0].institution }})
  {%- endif -%}
{%- endcapture -%}
<p class="author">{{ auth }}</p>
<p class="title">{{ p.title }}</p>

{% if p.video.size > 0 %}
<p class="video">
  {% for v in p.video %}
  {%- capture embedlink -%}
    {{ v.path }}
  {%- endcapture -%}
    <iframe src="{{ embedlink }}" width="640" height="480" allowfullscreen>&nbsp</iframe>
  </p>
  {% endfor %}
{% endif %}

{% if p.handouts.size > 0 %}
<ul class="handouts">
  {% for h in p.handouts %}
  {%- capture link -%}
    {%- if h.external -%}
      {{ h.path }}
    {%- else -%}
      //legacy.societymusictheory.org/files/2019_handouts/{{ h.path }}
    {% endif %}
  {%- endcapture -%}
  <li><a href="{{ link }}">{{ h.desc }}</a></li>
  {% endfor %}
</ul>

{% endif %}
