{% assign sess = site.data.sessions[page.slug] %}
{% assign p = site.data.papers[include.paper] %}


<p class="title">{{ p.title }}
{% if p.zoom.size > 0 %}
<span><a href="{{ sess.zoom }}"><i class="fas fa-video"></i></a></span>{% endif %}
</p>
<div>
	{% for a in p.authors %}
	{%- capture auth -%}
		{{ a.name }} 
		{% if a.institution %}
		({{ a.institution }})
		{% endif %}
	{%- endcapture -%}
	{%- capture insti -%}
		{{ a.insti }}
	{%- endcapture -%}
	{%if a.bio %}
		{%- capture bio -%}
			{{ a.bio }}
		{%- endcapture -%}
		<details><summary class="author"><p class="author">{{ auth }}</p>
		</summary>{{ bio }}</details>
	{%- else -%}
		<p class="author">{{ auth }}</p>
	{% endif %}
	{% endfor %}
</div>	


{% if p.abstract.size > 0 %}
<details class="root"><summary>Abstract</summary>
{{ p.abstract }}
</details>
{% endif %}

{% if p.video.size > 0 %}
<details class="root"><summary>Presentation Video</summary>
<div class="video">
  {% for v in p.video %}
  {%- capture embedlink -%}
    {{ v.path }}
  {%- endcapture -%}
    <div>{{v. desc}} <iframe src="https://player.vimeo.com/video/{{ embedlink }}" width="400" height="300" allowfullscreen>&nbsp</iframe></div>
  {% endfor %}
  </div>
</details>
{% endif %}

{% if p.handouts.size > 0 %}
<details class="root"><summary>Other Materials</summary>
<ul class="handouts">
  {% for h in p.handouts %}
  {%- capture link -%}
    {%- if h.external -%}
      {{ h.path }}
    {%- else -%}
      //societymusictheory.org/sites/default/files/events/misc/2020docs/{{ h.path }}
    {% endif %}
  {%- endcapture -%}
  <li><a href="{{ link }}">{{ h.desc }}</a></li>
  {% endfor %}
</ul>
</details>
{% endif %}
