{% assign sess = site.data.sessions[page.slug] %}
{% assign p = site.data.papers[include.paper] %}

{%- capture auth -%}
  {%- if p.authors[0].formatted -%}
    {{ p.authors[0].formatted }}
  {%- else -%}
    {{ p.authors[0].name }} ({{ p.authors[0].institution }})
  {%- endif -%}
{%- endcapture -%}
<p class="title">{{ p.title }}</p>
<p class="author">{{ auth }}</p>


{% if p.bio -%}
<details class="root"><summary>Bio</summary>
{{ p.bio }}
</details>
{% endif %}

<details class="root"><summary>Abstract</summary>
{{ p.abstract }}
</details>

{% if p.video.size > 0 %}
<details class="root"><summary>Presentation Video</summary>
<div class="video">
  {% for v in p.video %}
  {%- capture embedlink -%}
    {{ v.path }}
  {%- endcapture -%}
    <iframe src="{{ embedlink }}" width="400" height="300" allowfullscreen>&nbsp</iframe>
  </div>
  {% endfor %}
</details>
{% endif %}

{% if p.handouts.size > 0 %}
<details class="root"><summary>Other Materials</summary>
<ul class="handouts">
  {% for h in p.handouts %}
  {%- capture link -%}
    {%- if h.external -%}
      {{ h.path }}
    {%- else -%}
      //societymusictheory.org/sites/default/files/events/misc/2020docs/{{ h.path }}
    {% endif %}
  {%- endcapture -%}
  <li><a href="{{ link }}">{{ h.desc }}</a></li>
  {% endfor %}
</ul>
</details>
{% endif %}
