
.icon-bar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-color;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 27px;
}

.icon-bar a {
    display: inline-block;
    text-align: center;
	padding:0.3em 1.2em;
    transition: all 0.3s ease;
    color: $background-color;
    font-size: $base-font-size;
    background-color: $brand-color;
	border:0.16em $brand-color;
	border-radius:2em;
	margin:0 0.1em 0.1em 0;
}

.icon-bar a:hover {
	background: $complementary-color;
}

.active {
    background-color: #4CAF50;
}
