
.icon-bar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: $background-color;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 27px;
}

.icon-bar a {
    text-align: center;
    padding: 12px 12px;
    transition: all 0.3s ease;
    color: $background-color;
    font-size: $base-font-size;
    background-color: $brand-color;
	border-radius:28px;
    margin: 0px 4px;
}

.icon-bar a:hover {
    color: $complementary-color;
}

.active {
    background-color: #4CAF50;
}



