/**
 * Site header
 */
.site-header {
    min-height: 56px;
    border-bottom: 1px solid $brand-color-dark;

    // Positioning context for the mobile navigation icon
    position: relative;
    background: no-repeat $brand-color;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $brand-color-dark;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

/**
 * Indexes
 */
li.sessions {
    font-weight: bolder;
}

p.society {
    display: none;
}

p.title {
    margin-top: 0;
    font-weight: bolder;
    margin-bottom: 2em;
    padding-left: 2em;
    a:visited {
        color: darken($brand-color, 10%);
    }
}
p.author {
    margin-bottom: .5em;
}

p.abs-title {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
}
p.abs-author {
    text-align: center;
}

span.title {
    &:before {
        content: "\201C";
    }
    &:after {
        content: "\201D";
    }
}

span.room {
    color: #999999;
    font-size: 75%;
    a, a:visited {
           color: #999999;
           text-decoration: underline;
           &:hover {
               color: #666666;
           }
    }
}

h3.index-session-title {
    margin-bottom: 0;
}

p.index-chair {
    font-size: 100%;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

p.chair {
    font-size: 115%;
    margin-top: -0.5em;
    margin-bottom: 2em;
}

h3.sponsor {
    margin-top: -.5em;
    font-style: italic;
    margin-bottom: 1em;
}

table.program {
    width: 85%;
    margin: 0 auto;
    td {
        vertical-align: top;
        padding-bottom: .5em;
    }
    tr td:nth-child(2) {
        text-align: right;
    }
}

h4 {
    text-decoration: underline;
    font-size: 105%;
}

table.meetings {
    td:first-child {
        padding-right: 1.5em;
    }
    td {
        vertical-align: top;
        padding-bottom: 0.5em;
    }
}

p.note {
    font-size: 85%;
    font-style: italic;
}

span.nobr {
    white-space: nowrap;
}

img#smt-logo {
    height: 36px;
    margin-bottom: 7px;
    padding-right: 7px;
}

p.sessionInfo {
    margin-top: 0;
    margin-bottom: 0;
    span.room {
        font-size:100%;
    }
}

div.warning {
    background-color: #f2dede;
    color: #a94442;
    font-size: 125%;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #ebcccc;
    border-radius: .75rem;
    p { margin-bottom: 0 }
}

ul.ig-list {
    li {
        font-size: 110%;
        margin: .4em auto;

    }
}

input#search-box {
    font-family: $base-font-family;
    font-size: 135%;
    padding: 0.5rem;
    width: 90%;
}

div#search-results {
    margin-top: 3em;

}
