/**
 * Site header
 */

header.site-header {
	position: fixed;
	width: 100%;
}


div.site-header {
    min-height: 100px;
    border-bottom: 7px solid $complementary-color;

    // Positioning context for the mobile navigation icon
    position: relative;
    background: no-repeat white;
}

.site-title {
    font-family: $base-font-family;
    font-size: $base-font-size*2;
    line-height: 56px;
    letter-spacing: -1px;
    color: $brand-color;
    margin-top: 25px;
    margin-bottom: 0;
    float: left;
    margin-left: $spacing-unit*4;
    
    @include media-query($on-laptop) {
        display: none;
        max-width: 90%;
        padding-right: 0px;
        padding-left: 0px;
    }    
}

.site-mobile-title {
    font-family: $base-font-family;
    font-size: $base-font-size*2;
    line-height: 56px;
    letter-spacing: -1px;
    color: $brand-color;
    margin-top: 25px;
    margin-bottom: 0;
    float: left;
    margin-left: $spacing-unit*4;
    display: none;
        
    @include media-query($on-palm) {
        display: block;
        max-width: 90%;
        padding-right: 0px;
        padding-left: 0px;
    }    
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
	
	h2 {
        margin-bottom: 0;
        margin-top: $spacing-unit;
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }
	
	
	h3 {
        padding-top: $spacing-unit/2;
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    
    .wrapper > h3{
        margin-bottom: 0px;
}



}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

#paper-sessions,#poster-sessions,#interest-group-meetings {
	border-top: 2px solid #eee;
}

.chair {
	padding-bottom: $spacing-unit;
}

details {
	padding-left: $spacing-unit/2;
}


/**
  * Home Page Styles 
  * Uses flexbox to create two columns
  */
  
.schedule {
	flex-basis: 40%; 
	padding-left: 1em;
	padding-right: 0em;
	
	    @include media-query($on-palm) {
		flex-basis: 100%; 
		padding-left: 1em;
		padding-right: 0em;
    }    	
}
	
.home {
	flex-basis: 60%;
	padding-left: 1em;
	padding-right: 1em;
	
		@include media-query($on-palm) {
		flex-basis: 100%; 
		padding-left: 1em;
		padding-right: 0em;
    }    

}

div.schedule ul {
	padding-left: 2em;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    
    h2 {
        font-size: 24px;

        @include media-query($on-laptop) {
            font-size: 20px;
        }
    }

    h3 {
        font-size: 22px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    h4 {
        font-size: 18px;

        @include media-query($on-laptop) {
            font-size: 16px;
        }
    }
}

/**
 * Indexes
 */
li.sessions {
    font-weight: bolder;
}

p.society {
    display: none;
}

p.author {
    margin-top: 0;
    font-weight: bolder;
    font-size: 110%;
    margin-bottom: 0;
    padding-left: 1em
}
p.title {
    margin-top: 1.5em;
    font-weight: 600;
    font-size: 125%;
    margin-bottom: .5em;
}

p.piece {
    margin-top: 0;
    margin-bottom: 2em;
    padding-left: 2em;
}

p.abs-title {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
}
p.abs-author {
    text-align: center;
}

span.title {
    &:before {
        content: "\201C";
    }
    &:after {
        content: "\201D";
    }
}

span.room {
    color: #777;
    font-size: 85%;
    white-space: nowrap;
    a, a:visited {
           color: #777;
           text-decoration: underline;
           &:hover {
               color: #555;
               text-decoration: none;
           }
    }
}
span.room-fullsize {
    color: #777;
    white-space: nowrap;
    a, a:visited {
           color: #777;
           text-decoration: underline;
           &:hover {
               color: #555;
               text-decoration: none;
           }
    }
}

h3.index-session-title {
    margin-bottom: 0;
}

h3.session-buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: -0.5em;
	margin-bottom: 1em;
    border: 2px solid $brand-color;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
    border-radius: 15px;
}


span.playlist, span.zoom, span.slack, span.calendar{
    flex-basis: 20%;
    font-family: $base-font-family;
    font-size: $base-font-size;  	
  }

p.index-chair {
    font-size: 100%;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

p.chair {
    font-size: 115%;
    margin-bottom: 0.5em;
    padding-left: 2em;
}

p.livestream {
    font-size: 95%;
    margin-top: -1.25em;
    margin-bottom: 2em;
    font-style: italic;
}


p.sub-chair {
    font-size: 115%;
    margin-top: -0.5em;
    margin-bottom: 1em;
}

h3.sponsor {
    margin-top: -.5em;
    font-style: italic;
    font-size: 115%;
    margin-bottom: 1em;
    padding-left: 2em    
}

table.program {
    width: 85%;
    margin: 0 auto;
    td {
        vertical-align: top;
        padding-bottom: .5em;
    }
    tr td:nth-child(2) {
        text-align: right;
    }
}

h4 {
    text-decoration: underline;
    font-size: 105%;
}

table.meetings {
    margin-bottom: 2em;
    td:first-child {
        padding-right: 1.5em;
    }
    td {
        vertical-align: top;
        padding-bottom: 0.5em;
    }
}

p.note {
    font-size: 85%;
    font-style: italic;
}

span.nobr {
    white-space: nowrap;
}

img#smt-logo {
    height: 36px;
    margin-bottom: 7px;
    padding-right: 7px;
}

img#ams-logo {
    height: 36px;
    margin-bottom: 7px;
    padding-right: 7px;
    margin-right: 15px;
}

p.sessionInfo {
    margin-top: 0;
    margin-bottom: 0;
    span.room {
        font-size:100%;
    }
}

div.warning {
    background-color: #f2dede;
    color: #a94442;
    font-size: 125%;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid #ebcccc;
    border-radius: .75rem;
    p { margin-bottom: 0 }
}

ul.ig-list {
    li {
        font-size: 110%;
        margin: .4em auto;
    }
}

p.ig-time {
    margin-top: -0.5em;
    margin-left: 1.5em;
    font-style: italic;
}

p.ig-desc {
    margin-left: 1.5em;
}

ul.panelist-info {
  margin-bottom: 2em;
  ul {
      margin-bottom: 0.5em;
  }
}

input#search-box {
    font-family: $base-font-family;
    font-size: 135%;
    padding: 0.5rem;
    width: 90%;
}

div#search-results {
    margin-top: 3em;

}

a, a:visited {
    color: $link-color;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
}

hr.sep {
  width: 15em;
  margin: 2em auto;
}


blockquote {
    font-style: normal;
    letter-spacing: 0;
    font-size: 100%;
    color: #505050;
}

ul.handouts {
    padding-left: 0.5em;
    margin-bottom: 1em;
}

table.exhibitors {
  td:first-child {
    width: 4.5em;
  }
  td {
    vertical-align: top;
    padding-bottom: .75em;
  }
}

img.install {
    width: 25em;
    margin-bottom: 4em;
}

ul.movement-list, ol.movement-list {
    margin-top: -2em;
    margin-bottom: 2em;
    list-style-type: none;
    padding-left: 2em;
}

div.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

div.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

details.root {
    padding-left: 1em;
}

details.root > p {
	padding-top: $spacing-unit/2;
	font-size: $small-font-size;
}

.session-explanation {
	padding-top: $spacing-unit/2;
	font-size: $small-font-size;
}

h3.session-buttons {
    text-decoration: none;
}


p.index-chair, ul.paper-list {
	font-size: $small-font-size;
}

details.schedule {
    padding-left: 1em;
    font-size: 125%;
}

summary {
    cursor: pointer;
}

summary::-webkit-details-marker {
    font-size: 80%;
}
