<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"<script/>
  <script src="{{ site.baseurl }}/js/zepto.min.js"></script>
  <script src="{{ site.baseurl }}/js/linkRooms.js"></script>
  <script src="{{ site.baseurl }}/js/nav.js"></script>
  </body>

</html>
