<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <script src="{{ site.baseurl }}/js/zepto.min.js"></script>
  <script src="{{ site.baseurl }}/js/linkRooms.js" async></script>
    {% include header.html %}
  <script src="{{ site.baseurl }}/js/nav.js" async></script>

    <div class="page-content">
      <div class="wrapper">
      <div class="warning">
          <p>This site is currently being rebuilt for the 2019 conference. Data
          may be incorrect, incomplete, or missing entirely.</p>
      </div>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
