<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    <script src="{{ site.baseurl }}/js/session.js"></script>
    <script src="{{ site.baseurl }}/js/handoutData.js"></script>


    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
            <p class="note">Click the <i class="fa fa-file" style="color: rgb(0, 135, 188)"></i> icons below to access author handouts.</p>
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
